
@using System.Collections.Specialized
@model IEnumerable<ViewModelsDemo.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Produkter";
}
<h2>Produkter</h2>


@foreach (var item in Model)
{
   @Html.Partial("ProductSummary", item)
}



