@model CrudDemo.Models.Product

@{
    ViewBag.Title = "Redigera produkt";
}

<h2>Redigera produkt</h2>
<br/>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_ProductForm")
}

<div>
    @Html.ActionLink("Tillbaka till listan", "Index")
</div>





